.supplier-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  .supplier-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.2s;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color: #f7f7f7;
    width: 300px;
    height: 400px;
  }

  .location::first-letter{
    text-transform: uppercase;
  }

  .supplier-card:hover {
    background-color: rgb(15,112,206);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .supplier-card p {
    margin: 5px 0;
    font-size: 14px;
  }
  .supplier-card h3 {
    padding: 0 15px;
    font-size: 14px;
  }
  .twitter{
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  }
  img{
    width: 30px;
    height: 30px;
  }
  .phone-num{
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    text-align: center;
  }
  .false{
    background-color: yellow;
  }
   
  