.supplier-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  /* .supplier-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */
  
  /* .supplier-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .supplier-card p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #4CAF50;
   
  } */
  .btn {
    max-width: 145px;
    max-height: 40px;
    margin: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-first-page , .btn-last-page{
    max-width: 145px;
    max-height: 40px;
    margin: 10px;
    background-color: #eff4ef;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }